<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-5" @myInsertRemoveTrigger>
      <mat-card class="mb-4" *ngFor="let notification of notifications">
        <mat-card-header>
          <div mat-card-avatar class="header-image"><i class="fas fa-user-circle"></i></div>
          <mat-card-title>{{notification.Teacher.Name}}</mat-card-title>
          <mat-card-subtitle>{{notification.NotificationDate | date:'dd/MM/yyyy HH:mm'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h2>{{notification.Class.Name}}</h2>
          <p>
            {{notification.NotificationContent}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <ng-container *ngIf="!notifications.length && !displaySpinner">
      <div class="col-12 text-center">
        <h1>No notifications to display</h1>
        <h3>Either because there are no notifications published for your classes yet or because you didn't select any class yet.</h3>
      </div>
    </ng-container>
  </div>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#2199e8" type="ball-fall"></ngx-spinner>
</div>
