<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 logo">
        <img class="img img-fluid" src="assets/images/fict_logo.png" />
        <div class="navbar-light navbar-expand-md">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
      <div class="col-md-9">
        <nav class="navbar navbar-expand-md">
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="/superadmin/dashboard" routerLinkActive="active">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/superadmin/teachers" routerLinkActive="active">Teachers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/superadmin/students" routerLinkActive="active">Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/superadmin/classes" routerLinkActive="active">Classes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/superadmin/login" (click)="logOut()">Log Out</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
