table {
  width: 100%;
}

.element-row {
  cursor: pointer;
}

.inactive td {
  color: red;
}

.element-row:hover {
  background: whitesmoke;
}

.add-new {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(54, 181, 173, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(54, 181, 173, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(54, 181, 173, 0);
  }
}
