h2{
  margin-bottom: 10px;
  color: #13a89e;
}

.fa-book{
  margin-right: 5px;
  font-size: 17px;
}

.fa-user, .fa-map-marker-alt, .fa-clock{
  width: 18px;
  font-size: 15px;
}

.schedule-teacher, .schedule-classroom, .schedule-time{
  font-size: 16px;
  margin-bottom: 10px;
  color: #13a89e;
}
