header{
  padding: 5px 0;
  border-bottom: 1px solid #eee;

  .logo{

    .img{
      width: 100px;
    }

    .navbar-light{
      float: right;
      margin-top: 8px;
    }
  }

  @media screen and (min-width: 768px) {
    .nav-link.active{
      position: relative;

      &:after{
        content: '';
        display: block;
        height: 2px;
        background-color: #36b5ad;
        position: absolute;
        bottom: 0.3rem;
        left: 0.5rem;
        right: 0.5rem;
      }
    }
  }
}

